$black-link: #333;
$color-title: #0085de;
$main-color: #254892;
.main-content {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;

  .box-main {
    .is_desktop {
      .list_utility {
        li {
          a {
            i {
              width: 35px;
              height: 25px;
            }
          }
        }
      }

      .list_tournamens {
        img {
          width: 35px;
          height: 25px;
        }
      }
    }

    .main_top {
      .top-pick {
        // begin: chỉnh sửa scroll
        /* width */
        ::-webkit-scrollbar {
          width: 3px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }
    }
  }

  .webkit-box {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .flex-1 {
    flex: 1;
  }

  .flex-0-32 {
    flex: 0 32%;
  }

  .flex-0-48 {
    flex: 0 48%;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: inside none;
  }

  a {
    text-decoration: none;
    color: $black-link;
    cursor: pointer;
    display: inline-block;
  }

  a:hover {
    color: $color-title;
  }

  img {
    border: 0 none;
    max-width: 100%;
    height: auto;
    display: block;
  }

  .w200 {
    width: 200px;
  }

  .title {
    color: $color-title;
  }

  @media screen and (max-width: 1000px) {
    div.is_desktop {
      display: none;
    }

    div.top-pick {
      flex-direction: column !important;

      .cover {
        width: 100% !important;
      }

      .scroll {
        overflow: unset !important;
        position: unset !important;
        width: 100% !important;

        .pick_right {
          position: unset !important;
          flex: 1;
        }
      }
    }

    div.bot-pick ul{
      flex-direction: column;
      li {
        display: flex;
        margin-bottom: 1.5em;
        a {
          img {
            min-width: 100px;
            max-width: 180px;
          }
        }
        .content {
          margin-left: 20px;
          @media screen and (max-width: 600px) {
            .title_cat {
              font-size: 11px;
            }
            h2 {
              font-size: 13px;
            }
          }
        }
      }
    }

    div.box_common {
      display: none;
    }

    div.box_latest {
      flex: 1;
      max-width: 100%;
    }
  }
}


