<div id="root" style="background: #f1f1f1;">
  <div class="main-content pt-5">
    <div class="main">
      <div class="container bg-white p-3">
        <div class="box-pick pb-3 row">
          <div class="is_desktop col-md-2 p-0">
            <div class="box_utility me-3">
              <ul class="list_utility p-0 pt-2 pb-1">
                <li class="tructiep-li">
                  <a routerLink="video-sea-games-c134" title="Video">
                    <i class="fab fa-youtube"></i>
                    <span class="text_center">Video</span>
                  </a>
                </li>
                <li>
                  <a routerLink="livescore-lich-thi-dau-ket-qua-c53" title="Livescore">
                    <i class="fas fa-video"></i>
                    <span class="text_center">Livescore</span>
                  </a>
                </li>
                <li>
                  <a routerLink="lich-thi-dau-bong-da-c54" title="Lịch thi đấu bóng đá">
                    <i class="fas fa-calendar-alt"></i>
                    <span class="text_center">Lịch thi đấu</span>
                  </a>
                </li>
                <li>
                  <a routerLink="ket-qua-bong-da-c55" title="Kết quả bóng đá">
                    <i class="fas fa-medal"></i>
                    <span class="text_center">Kết quả</span>
                  </a>
                </li>
                <li class="news-24h">
                  <a routerLink="bang-xep-hang-bong-da-c56" title="Bảng xếp hạng bóng đá">
                    <i class="fas fa-synagogue"></i>
                    <span class="text_center">BXH</span>
                  </a>
                </li>
                <li class="tructiep-li">
                  <a routerLink="truc-tiep-c230" title="Trực tiếp bóng đá">
                    <img src="https://thethao247.vn/frontend/images/ico_tructiep.svg" class="tructiep-icon loading"
                         width="25%"
                         alt="Trực tiếp">
                    <span class="text_center">Trực tiếp</span>
                  </a>
                </li>
              </ul>
              <ul class="list_tournamens">
                <li>
                  <a routerLink="La-Liga-c59" title="Lịch thi đấu La Liga">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/es.svg" alt="La Liga"
                           title="Lịch thi đấu La Liga">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">La Liga</div>
                  </a>
                </li>
                <li>
                  <a routerLink="serie-a-c62" title="Lịch thi đấu Serie A">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/it.svg" alt="Serie A"
                           title="Lịch thi đấu Serie A">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">Serie A</div>
                  </a>
                </li>
                <li>
                  <a routerLink="bundes-liga-c65" title="Lịch thi đấu Bundesliga 1">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/de.svg" alt="Bundesliga 1"
                           title="Lịch thi đấu Bundesliga 1">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">Bundesliga</div>
                  </a>
                </li>
                <li>
                  <a routerLink="ligue-one-c68" title="Lịch thi đấu Ligue 1">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/fr.svg" alt="Ligue 1"
                           title="Lịch thi đấu Ligue 1">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">Ligue 1</div>
                  </a>
                </li>
                <li>
                  <a routerLink="champions-league-c13"
                     title="Lịch thi đấu UEFA Champions League">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/uefa.png"
                           alt="UEFA Champions League" title="Lịch thi đấu UEFA Champions League">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">CUP C1</div>
                  </a>
                </li>
                <li>
                  <a routerLink="europa-league-c75" title="Lịch thi đấu UEFA Europa League">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/uefa.png"
                           alt="UEFA Europa League"
                           title="Lịch thi đấu UEFA Europa League">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">Europa League
                    </div>
                  </a>
                </li>
                <li>
                  <a routerLink="v-league-c15" title="Lịch thi đấu V.League 1">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/vn.svg" alt="V.League 1"
                           title="Lịch thi đấu V.League 1">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">V-League</div>
                  </a>
                </li>
                <li>
                  <a routerLink="afc-cup-champions-league-c226"
                     title="Lịch thi đấu AFC Champions League">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/leagues/17.png"
                           alt="AFC Champions League" title="Lịch thi đấu AFC Champions League">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">AFC Champions
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="flex-1 col-md-10 p-0">
            <div class="top-pick d-flex position-relative">
              <div class="w100-200">
                <div class="cover ms-2">
                  <div class="home_main_img d-flex">
                    <img
                      src="{{RssDataHome.rss.channel[0].item[0].image}}"
                      style="width: 100%; height: 400px;"
                      alt="{{RssDataHome.rss.channel[0].item[0].title}}">
                    <a href="{{RssDataHome.rss.channel[0].item[0].link}}"
                       class="thumb" title="{{RssDataHome.rss.channel[0].item[0].title}}">
                    </a>
                  </div>
                  <div class="content">
                    <a href="https://thethao247.vn/bong-da-quoc-te-c2/" class="title_cat" title="Bóng đá quốc tế">Bóng
                      đá quốc tế</a>
                    <h2><a href="{{RssDataHome.rss.channel[0].item[0].link}}"
                           class="title"
                           title="{{RssDataHome.rss.channel[0].item[0].title}}">{{RssDataHome.rss.channel[0].item[0].title}}</a>
                    </h2>
                    <p
                      class="sapo">{{RssDataHome.rss.channel[0].item[0].description.toString().slice(RssDataHome.rss.channel[0].item[0].description.toString().lastIndexOf(">") + 1, RssDataHome.rss.channel[0].item[0].description.toString().length)}}</p>
                  </div>
                </div>
              </div>
              <div class="w200 scroll me-2">
                <div class="pick_right ps-3">
                  <ul class="p-0">
                    <li *ngFor="let x of forRange(2, 11)">
                      <h3>
                        <a
                          href="{{RssDataHome.rss.channel[0].item[x].link}}"
                          class="title"
                          title="{{RssDataHome.rss.channel[0].item[x].title}}">{{RssDataHome.rss.channel[0].item[x].title}}
                        </a>
                      </h3>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="bot-pick mx-2">
              <ul>
                <li *ngFor="let x of forRange(12, 15)">
                  <a
                    href="{{RssDataHome.rss.channel[0].item[x].link}}"
                    class="thumb fw-bold"
                    title="{{RssDataHome.rss.channel[0].item[x].title}}">
                    <img
                      src="{{RssDataHome.rss.channel[0].item[x].image}}"
                      width="389" height="234"
                      alt="{{RssDataHome.rss.channel[0].item[x].title}}"></a>
                  <div class="content">
                    <a href="https://thethao247.vn/bong-da-viet-nam-c1/" class="title_cat" title="Bóng đá Việt Nam">Bóng
                      đá Việt Nam</a>
                    <h2><a
                      href="{{RssDataHome.rss.channel[0].item[x].link}}"
                      class="title"
                      title="{{RssDataHome.rss.channel[0].item[x].title}}">{{RssDataHome.rss.channel[0].item[x].title}}</a>
                    </h2></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="list_category_news mb-3 d-flex">
          <div class="flex-1 d-flex flex-wrap">
            <div class="box_latest ps-3">
              <div class="caption">
                <h2>
                  <a href="#" class="title" title="Tin mới nhất">
                    <span>Tin mới nhất</span>
                  </a>
                </h2>
              </div>
              <div class="content">
                <ul>
                  <li *ngFor="let x of forRange(11, 25)">
                    <a
                      href="{{RssDataHome.rss.channel[0].item[x].link}}"
                      class="thumb me-3" title="{{RssDataHome.rss.channel[0].item[x].title}}">
                      <img class=""
                           src="{{RssDataHome.rss.channel[0].item[x].image}}"
                           width="248" height="178"
                           alt="{{RssDataHome.rss.channel[0].item[x].title}}"></a>
                    <div class="text flex-1">
                      <h3><a href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                             class="title"
                             title="{{RssDataHome.rss.channel[0].item[x].title}}">{{RssDataHome.rss.channel[0].item[x].title}}</a>
                      </h3>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="box_common ps-3">
              <div class="flex-1">
                <div class="cat-style-1 mb-3">
                  <div class="caption">
                    <h2><a class="title" routerLink="bong-da-viet-nam-c1" title="{{RssBongDaVN.rss.channel[0].title}}">
                      <span>{{RssBongDaVN.rss.channel[0].title}}</span>
                    </a></h2>
                    <a class="more" routerLink="bong-da-viet-nam-c1" title="{{RssBongDaVN.rss.channel[0].title}}">
                      XEM TẤT CẢ <i class="fas fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="content">
                    <div class="first_news mb-3 d-flex justify-content-between flex-wrap">
                      <a
                        href="{{RssBongDaVN.rss.channel[0].item[0].link}}"
                        class="thumb" title="{{RssBongDaVN.rss.channel[0].item[0].title}}"><img
                        class=""
                        src="{{RssBongDaVN.rss.channel[0].item[0].image}}"
                        width="382" height="240"
                        alt="{{RssBongDaVN.rss.channel[0].item[0].title}}"></a>
                      <div class="text">
                        <h3><a
                          href="{{RssBongDaVN.rss.channel[0].item[0].link}}"
                          class="title" title="{{RssBongDaVN.rss.channel[0].item[0].title}}">
                          {{RssBongDaVN.rss.channel[0].item[0].title}}
                        </a></h3>
                        <p class="sapo">
                          {{RssBongDaVN.rss.channel[0].item[0].description.toString().slice(RssBongDaVN.rss.channel[0].item[0].description.toString().lastIndexOf(">") + 1, RssBongDaVN.rss.channel[0].item[0].description.toString().length)}}
                        </p>
                      </div>
                    </div>
                    <ul class="list_news d-flex justify-content-between flex-wrap">
                      <li *ngFor="let x of forRange(1,3)">
                        <a
                          href="{{RssBongDaVN.rss.channel[0].item[x].link}}"
                          class="thumb"
                          title="{{RssBongDaVN.rss.channel[0].item[x].title}}">
                          <img class="" src="{{RssBongDaVN.rss.channel[0].item[x].image}}"
                               width="382"
                               height="240"
                               alt="{{RssBongDaVN.rss.channel[0].item[x].title}}"></a>
                        <h3><a
                          href="{{RssBongDaVN.rss.channel[0].item[x].link}}"
                          class="title"
                          title="{{RssBongDaVN.rss.channel[0].item[x].title}}">{{RssBongDaVN.rss.channel[0].item[x].title}}</a>
                        </h3></li>
                    </ul>
                  </div>
                </div>
                <div class="cat-style-1 mb-3">
                  <div class="caption">
                    <h2><a class="title" routerLink="bundes-liga-c65" title="{{RssBundesliga.rss.channel[0].title}}">
                      <span>{{RssBundesliga.rss.channel[0].title}}</span>
                    </a></h2>
                    <a class="more" routerLink="bundes-liga-c65" title="{{RssBundesliga.rss.channel[0].title}}">
                      XEM TẤT CẢ <i class="fas fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="content">
                    <div class="first_news mb-3 d-flex justify-content-between flex-wrap">
                      <a
                        href="{{RssBundesliga.rss.channel[0].item[0].link}}"
                        class="thumb" title="{{RssBundesliga.rss.channel[0].item[0].title}}"><img class=""
                                                                                                  src="{{RssBundesliga.rss.channel[0].item[0].image}}"
                                                                                                  width="382"
                                                                                                  height="240"
                                                                                                  alt="{{RssBundesliga.rss.channel[0].item[0].title}}"></a>
                      <div class="text">
                        <h3><a
                          href="{{RssBundesliga.rss.channel[0].item[0].link}}"
                          class="title" title="{{RssBundesliga.rss.channel[0].item[0].title}}">{{RssBundesliga.rss.channel[0].item[0].title}}</a></h3>
                        <p class="sapo">
                          {{RssBundesliga.rss.channel[0].item[0].description.toString().slice(RssBundesliga.rss.channel[0].item[0].description.toString().lastIndexOf(">") + 1, RssBundesliga.rss.channel[0].item[0].description.toString().length)}}
                        </p>
                      </div>
                    </div>
                    <ul class="list_news d-flex justify-content-between flex-wrap">
                      <li *ngFor="let x of forRange(1,3)">
                        <a
                          href="{{RssBundesliga.rss.channel[0].item[x].link}}"
                          class="thumb"
                          title="{{RssBundesliga.rss.channel[0].item[x].title}}"><img
                          class=""
                          src="{{RssBundesliga.rss.channel[0].item[x].image}}"
                          width="382" height="240"
                          alt="{{RssBundesliga.rss.channel[0].item[x].title}}"></a>
                        <h3><a
                          href="{{RssBundesliga.rss.channel[0].item[x].link}}"
                          class="title"
                          title="{{RssBundesliga.rss.channel[0].item[x].title}}">
                          {{RssBundesliga.rss.channel[0].item[x].title}}
                        </a></h3></li>
                    </ul>
                  </div>
                </div>
                <div class="cat-style-1 mb-3">
                  <div class="caption">
                    <h2><a class="title" routerLink="bong-da-quoc-te-c2" title="{{RssQuocTe.rss.channel[0].title}}">
                      <span>{{RssQuocTe.rss.channel[0].title}}</span>
                    </a></h2>
                    <a class="more" routerLink="bong-da-quoc-te-c2" title="{{RssQuocTe.rss.channel[0].title}}">
                      XEM TẤT CẢ <i class="fas fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="content">
                    <div class="first_news mb-3 d-flex justify-content-between flex-wrap">
                      <a
                        href="{{RssQuocTe.rss.channel[0].item[0].link}}"
                        class="thumb" title="{{RssQuocTe.rss.channel[0].item[0].title}}"><img class=""
                                                                                                             src="{{RssQuocTe.rss.channel[0].item[0].image}}"
                                                                                                             width="382"
                                                                                                             height="240"
                                                                                                             alt="{{RssQuocTe.rss.channel[0].item[0].title}}"></a>
                      <div class="text">
                        <h3><a
                          href="{{RssQuocTe.rss.channel[0].item[0].link}}"
                          class="title" title="{{RssQuocTe.rss.channel[0].item[0].title}}">
                          {{RssQuocTe.rss.channel[0].item[0].title}}
                        </a></h3>
                        <p class="sapo">
                          {{RssQuocTe.rss.channel[0].item[0].description.toString().slice(RssQuocTe.rss.channel[0].item[0].description.toString().lastIndexOf(">") + 1, RssQuocTe.rss.channel[0].item[0].description.toString().length)}}
                        </p>
                      </div>
                    </div>
                    <ul class="list_news d-flex justify-content-between flex-wrap">
                      <li *ngFor="let x of forRange(1,3)">
                        <a
                          href="{{RssQuocTe.rss.channel[0].item[x].link}}"
                          class="thumb" title="{{RssQuocTe.rss.channel[0].item[x].title}}"><img
                          class=""
                          src="{{RssQuocTe.rss.channel[0].item[x].image}}"
                          width="382" height="240"
                          alt="{{RssQuocTe.rss.channel[0].item[x].title}}"></a>
                        <h3><a
                          href="{{RssQuocTe.rss.channel[0].item[x].link}}"
                          class="title" title="{{RssQuocTe.rss.channel[0].item[x].title}}">
                          {{RssQuocTe.rss.channel[0].item[x].title}}
                        </a></h3></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
