<app-search (showEvent)="showElementParent($event)"></app-search>
<div *ngIf="showParent" class="main-content">
  <div class="container bg-light">
    <div class="box-main d-flex">
      <div class="is_desktop me-3 fs-6 text-uppercase">
        <ul class="list_utility bg-light rounded-start rounded-8 shadow-inner py-2 px-3 w200">
          <li class="tructiep-li">
            <a (click)="reloadPage('video-sea-games-c134')" routerLink="video-sea-games-c134" class="border-bottom d-flex py-2 px-2 overflow-auto" title="Video">
              <i class="fab fa-youtube fs-4"></i>
              <span class="px-2 d-flex align-items-center">Video</span>
            </a>
          </li>
          <li>
            <a (click)="reloadPage('livescore-lich-thi-dau-ket-qua-c53')" routerLink="livescore-lich-thi-dau-ket-qua-c53" class="border-bottom d-flex py-2 px-2 overflow-auto" title="Livescore">
              <i class="fas fa-video fs-4"></i>
              <span class="px-2 d-flex align-items-center">Livescore</span>
            </a>
          </li>
          <li>
            <a (click)="reloadPage('lich-thi-dau-bong-da-c54')" routerLink="lich-thi-dau-bong-da-c54" class="border-bottom d-flex py-2 px-2 overflow-auto" title="Lịch thi đấu bóng đá">
              <i class="fas fa-calendar-alt fs-4"></i>
              <span class="px-2 d-flex align-items-center">Lịch thi đấu</span>
            </a>
          </li>
          <li>
            <a (click)="reloadPage('ket-qua-bong-da-c55')" routerLink="ket-qua-bong-da-c55" class="border-bottom d-flex py-2 px-2 overflow-auto" title="Kết quả bóng đá">
              <i class="fas fa-medal fs-4"></i>
              <span class="px-2 d-flex align-items-center">Kết quả</span>
            </a>
          </li>
          <li class="news-24h">
            <a (click)="reloadPage('bang-xep-hang-bong-da-c56')" routerLink="bang-xep-hang-bong-da-c56" class="border-bottom d-flex py-2 px-2 overflow-auto" title="Bảng xếp hạng bóng đá">
              <i class="fas fa-synagogue fs-4"></i>
              <span class="px-2 d-flex align-items-center">BXH</span>
            </a>
          </li>
          <li class="tructiep-li">
            <a (click)="reloadPage('truc-tiep-c230')" routerLink="truc-tiep-c230" class="border-bottom d-flex py-2 px-2 overflow-auto" title="Trực tiếp bóng đá">
              <i class="fas fa-desktop fs-4"></i>
              <span class="px-2 d-flex align-items-center">Trực tiếp</span>
            </a>
          </li>
        </ul>
        <ul class="list_tournamens bg-light rounded-start rounded-8 shadow-inner py-2 px-3 w200"
            style="font-size: 12px;">
          <li>
            <a (click)="reloadPage('La-Liga-c59')" routerLink="La-Liga-c59" class="d-flex p-2 border-bottom" title="Lịch thi đấu La Liga">
              <div class="league-logo">
                <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/es.svg" alt="La Liga"
                     title="Lịch thi đấu La Liga">
              </div>
              <div class="league-title d-flex justify-content-center align-items-center fw-bold px-2">La Liga</div>
            </a>
          </li>
          <li>
            <a (click)="reloadPage('serie-a-c62')" routerLink="serie-a-c62" class="d-flex p-2 border-bottom" title="Lịch thi đấu Serie A">
              <div class="league-logo">
                <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/it.svg" alt="Serie A"
                     title="Lịch thi đấu Serie A">
              </div>
              <div class="league-title d-flex justify-content-center align-items-center fw-bold px-2">Serie A</div>
            </a>
          </li>
          <li>
            <a (click)="reloadPage('bundes-liga-c65')" routerLink="bundes-liga-c65" class="d-flex p-2 border-bottom" title="Lịch thi đấu Bundesliga 1">
              <div class="league-logo">
                <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/de.svg" alt="Bundesliga 1"
                     title="Lịch thi đấu Bundesliga 1">
              </div>
              <div class="league-title d-flex justify-content-center align-items-center fw-bold px-2">Bundesliga</div>
            </a>
          </li>
          <li>
            <a (click)="reloadPage('ligue-one-c68')" routerLink="ligue-one-c68" class="d-flex p-2 border-bottom" title="Lịch thi đấu Ligue 1">
              <div class="league-logo">
                <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/fr.svg" alt="Ligue 1"
                     title="Lịch thi đấu Ligue 1">
              </div>
              <div class="league-title d-flex justify-content-center align-items-center fw-bold px-2">Ligue 1</div>
            </a>
          </li>
          <li>
            <a (click)="reloadPage('champions-league-c13')" routerLink="champions-league-c13" class="d-flex p-2 border-bottom" title="Lịch thi đấu UEFA Champions League">
              <div class="league-logo">
                <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/uefa.png"
                     alt="UEFA Champions League" title="Lịch thi đấu UEFA Champions League">
              </div>
              <div class="league-title d-flex justify-content-center align-items-center fw-bold px-2">CUP C1</div>
            </a>
          </li>
          <li>
            <a (click)="reloadPage('europa-league-c75')" routerLink="europa-league-c75" class="d-flex p-2 border-bottom" title="Lịch thi đấu UEFA Europa League">
              <div class="league-logo">
                <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/uefa.png"
                     alt="UEFA Europa League"
                     title="Lịch thi đấu UEFA Europa League">
              </div>
              <div class="league-title d-flex justify-content-center align-items-center fw-bold px-2">Europa League
              </div>
            </a>
          </li>
          <li>
            <a (click)="reloadPage('v-league-c15')" routerLink="v-league-c15" class="d-flex p-2 border-bottom" title="Lịch thi đấu V.League 1">
              <div class="league-logo">
                <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/vn.svg" alt="V.League 1"
                     title="Lịch thi đấu V.League 1">
              </div>
              <div class="league-title d-flex justify-content-center align-items-center fw-bold px-2">V-League</div>
            </a>
          </li>
          <li>
            <a (click)="reloadPage('afc-cup-champions-league-c226')" routerLink="afc-cup-champions-league-c226" class="d-flex p-2 border-bottom" title="Lịch thi đấu AFC Champions League">
              <div class="league-logo">
                <img src="https://cdn-img.thethao247.vn/upload/api-football/leagues/17.png"
                     alt="AFC Champions League" title="Lịch thi đấu AFC Champions League">
              </div>
              <div class="league-title d-flex justify-content-center align-items-center fw-bold px-2">AFC Champions
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="main_top flex-1">
        <div class="top-pick d-flex mb-3 flex-wrap flex-1">
          <div class="cover mx-2 w-75 flex-1">
            <div class="home_main_img d-flex w-100">
              <img
                class="flex-1"
                style="width: 320px; min-height: 100%;"
                src="{{RssDataHome.rss.channel[0].item[0].image}}"
                alt="{{RssDataHome.rss.channel[0].item[0].title}}">
              <a href="{{RssDataHome.rss.channel[0].item[0].link}}"
                 class="thumb" title="{{RssDataHome.rss.channel[0].item[0].title}}">
              </a>
            </div>
            <div class="content p-3" style="background: #f1f1f1">
              <a href="https://thethao247.vn/bong-da-quoc-te-c2/" class="title_cat fw-bold border-bottom border-primary"
                 title="Bóng đá quốc tế">Bóng
                đá quốc tế</a>
              <h2 class="m-0 py-1"><a routerLink="detail/427-hy-vong-cua-barca-ve-ke-thay-the-ronaldo-tan-thanh-may-khoi-d263850"
                                      class="title fs-3"
                                      title="{{RssDataHome.rss.channel[0].item[0].title}}">{{RssDataHome.rss.channel[0].item[0].title}}</a>
              </h2>
              <p
                class="sapo m-0 webkit-box">{{RssDataHome.rss.channel[0].item[0].description.toString().slice(RssDataHome.rss.channel[0].item[0].description.toString().lastIndexOf(">") + 1, RssDataHome.rss.channel[0].item[0].description.toString().length)}}</p>
            </div>
          </div>
          <div class="scroll me-2 w-25 d-flex position-relative overflow-auto">
            <div class="pick_right mx-2 position-absolute">
              <ul class="p-0">
                <li *ngFor="let x of forRange(2, 12)" class="border-bottom">
                  <h3 class="m-0 py-2">
                    <a
                      href="{{RssDataHome.rss.channel[0].item[x].link}}"
                      class="title"
                      title="{{RssDataHome.rss.channel[0].item[x].title}}">{{RssDataHome.rss.channel[0].item[x].title}}
                    </a>
                  </h3>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bot-pick">
          <div class="bot-pick mx-2 mt-2">
            <ul class="d-flex justify-content-between m-0">
              <li *ngFor="let x of forRange(12, 15)" class="flex-0-32">
                <a
                  href="{{RssDataHome.rss.channel[0].item[x].link}}"
                  class="thumb fw-bold"
                  title="{{RssDataHome.rss.channel[0].item[x].title}}">
                  <img
                    src="{{RssDataHome.rss.channel[0].item[x].image}}"
                    class="img-fluid"
                    width="389" height="234"
                    alt="{{RssDataHome.rss.channel[0].item[x].title}}"></a>
                <div class="content">
                  <a href="{{RssDataHome.rss.channel[0].item[x].link}}"
                     class="title_cat fw-bold border-bottom border-primary" title="Bóng đá Việt Nam">Bóng
                    đá Việt Nam</a>
                  <h2 class="m-0"><a
                    href="{{RssDataHome.rss.channel[0].item[x].link}}"
                    class="title webkit-box"
                    title="{{RssDataHome.rss.channel[0].item[x].title}}">{{RssDataHome.rss.channel[0].item[x].title}}</a>
                  </h2></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="list_category_news d-flex">
      <div class="flex-1 d-flex flex-wrap">
        <div class="box_latest ps-3 col-md-5">
          <div class="caption d-flex border-bottom border-primary w-100">
            <h2 class="m-0">
              <a href="#" class="title text-uppercase text-white bg-primary px-3 py-1" title="Tin mới nhất">
                <span class="">Tin mới nhất</span>
              </a>
            </h2>
          </div>
          <div class="content">
            <ul>
              <li *ngFor="let x of forRange(11, 25)" class="d-flex flex-row border-bottom py-3">
                <a
                  href="{{RssDataHome.rss.channel[0].item[x].link}}"
                  class="thumb me-3" title="{{RssDataHome.rss.channel[0].item[x].title}}">
                  <img class=""
                       src="{{RssDataHome.rss.channel[0].item[x].image}}"
                       width="140" height="88"
                       alt="{{RssDataHome.rss.channel[0].item[x].title}}"></a>
                <div class="text flex-1">
                  <h3><a href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                         class="title webkit-box"
                         title="{{RssDataHome.rss.channel[0].item[x].title}}">{{RssDataHome.rss.channel[0].item[x].title}}</a>
                  </h3>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="box_common ps-3 col-md-7">
          <div class="cat-style-1 mb-3">
            <div class="caption d-flex border-bottom border-primary justify-content-between align-items-center w-100">
              <h2 class="m-0"><a class="title text-uppercase text-white bg-primary px-3 py-1"
                                 (click)="reloadPage('bong-da-viet-nam-c1')" routerLink="bong-da-viet-nam-c1" title="{{RssBongDaVN.rss.channel[0].title}}">
                <span>{{RssBongDaVN.rss.channel[0].title}}</span>
              </a></h2>
              <a class="more fw-bold pt-3" (click)="reloadPage('bong-da-viet-nam-c1')" routerLink="bong-da-viet-nam-c1"
                 title="{{RssBongDaVN.rss.channel[0].title}}">
                XEM TẤT CẢ <i class="fas fa-angle-right"></i>
              </a>
            </div>
            <div class="content pt-3">
              <div class="first_news mb-3 d-flex justify-content-between">
                <a href="{{RssBongDaVN.rss.channel[0].item[0].link}}" class="thumb flex-0-48"
                   title="{{RssBongDaVN.rss.channel[0].item[0].title}}">
                  <img class=""
                       src="{{RssBongDaVN.rss.channel[0].item[0].image}}"
                       width="382" height="240"
                       alt="{{RssBongDaVN.rss.channel[0].item[0].title}}">
                </a>
                <div class="text ms-3 flex-0-48">
                  <h3>
                    <a
                      href="{{RssBongDaVN.rss.channel[0].item[0].link}}"
                      class="title" title="{{RssBongDaVN.rss.channel[0].item[0].title}}">
                      {{RssBongDaVN.rss.channel[0].item[0].title}}
                    </a>
                  </h3>
                  <p class="sapo webkit-box">
                    {{RssBongDaVN.rss.channel[0].item[0].description.toString().slice(RssBongDaVN.rss.channel[0].item[0].description.toString().lastIndexOf(">") + 1, RssBongDaVN.rss.channel[0].item[0].description.toString().length)}}
                  </p>
                </div>
              </div>
              <ul class="list_news d-flex justify-content-between">
                <li *ngFor="let x of forRange(1,3)" class="flex-0-48">
                  <a
                    href="{{RssBongDaVN.rss.channel[0].item[x].link}}"
                    class="thumb"
                    title="{{RssBongDaVN.rss.channel[0].item[x].title}}">
                    <img class="" src="{{RssBongDaVN.rss.channel[0].item[x].image}}"
                         width="382"
                         height="240"
                         alt="{{RssBongDaVN.rss.channel[0].item[x].title}}"></a>
                  <h3><a
                    href="{{RssBongDaVN.rss.channel[0].item[x].link}}"
                    class="title"
                    title="{{RssBongDaVN.rss.channel[0].item[x].title}}">{{RssBongDaVN.rss.channel[0].item[x].title}}</a>
                  </h3></li>
              </ul>
            </div>
          </div>
          <div class="cat-style-1 mb-3">
            <div class="caption d-flex border-bottom border-primary justify-content-between align-items-center w-100">
              <h2 class="m-0"><a class="title text-uppercase text-white bg-primary px-3 py-1"
                                 (click)="reloadPage('bundes-liga-c65')" routerLink="bundes-liga-c65" title="{{RssBundesliga.rss.channel[0].title}}">
                <span>{{RssBundesliga.rss.channel[0].title}}</span>
              </a></h2>
              <a class="more fw-bold pt-3" (click)="reloadPage('bundes-liga-c65')" routerLink="bundes-liga-c65" title="{{RssBundesliga.rss.channel[0].title}}">
                XEM TẤT CẢ <i class="fas fa-angle-right"></i>
              </a>
            </div>
            <div class="content pt-3">
              <div class="first_news mb-3 d-flex justify-content-between">
                <a
                  href="{{RssBundesliga.rss.channel[0].item[0].link}}"
                  class="thumb flex-0-48" title="{{RssBundesliga.rss.channel[0].item[0].title}}"><img class=""
                                                                                                      src="{{RssBundesliga.rss.channel[0].item[0].image}}"
                                                                                                      width="382"
                                                                                                      height="240"
                                                                                                      alt="{{RssBundesliga.rss.channel[0].item[0].title}}"></a>
                <div class="text ms-3 flex-0-48">
                  <h3><a
                    href="{{RssBundesliga.rss.channel[0].item[0].link}}"
                    class="title"
                    title="{{RssBundesliga.rss.channel[0].item[0].title}}">{{RssBundesliga.rss.channel[0].item[0].title}}</a>
                  </h3>
                  <p class="sapo webkit-box">
                    {{RssBundesliga.rss.channel[0].item[0].description.toString().slice(RssBundesliga.rss.channel[0].item[0].description.toString().lastIndexOf(">") + 1, RssBundesliga.rss.channel[0].item[0].description.toString().length)}}
                  </p>
                </div>
              </div>
              <ul class="list_news d-flex justify-content-between">
                <li *ngFor="let x of forRange(1,3)" class="flex-0-48">
                  <a
                    href="{{RssBundesliga.rss.channel[0].item[x].link}}"
                    class="thumb"
                    title="{{RssBundesliga.rss.channel[0].item[x].title}}"><img
                    class=""
                    src="{{RssBundesliga.rss.channel[0].item[x].image}}"
                    width="382" height="240"
                    alt="{{RssBundesliga.rss.channel[0].item[x].title}}"></a>
                  <h3><a
                    href="{{RssBundesliga.rss.channel[0].item[x].link}}"
                    class="title"
                    title="{{RssBundesliga.rss.channel[0].item[x].title}}">
                    {{RssBundesliga.rss.channel[0].item[x].title}}
                  </a></h3></li>
              </ul>
            </div>
          </div>
          <div class="cat-style-1 mb-3">
            <div class="caption d-flex border-bottom border-primary justify-content-between align-items-center w-100">
              <h2 class="m-0"><a class="title text-uppercase text-white bg-primary px-3 py-1"
                                 (click)="reloadPage('bong-da-quoc-te-c2')" routerLink="bong-da-quoc-te-c2" title="{{RssQuocTe.rss.channel[0].title}}">
                <span>{{RssQuocTe.rss.channel[0].title}}</span>
              </a></h2>
              <a class="more fw-bold pt-3" (click)="reloadPage('bong-da-quoc-te-c2')" routerLink="bong-da-quoc-te-c2" title="{{RssQuocTe.rss.channel[0].title}}">
                XEM TẤT CẢ <i class="fas fa-angle-right"></i>
              </a>
            </div>
            <div class="content pt-3">
              <div class="first_news mb-3 d-flex justify-content-between">
                <a
                  href="{{RssQuocTe.rss.channel[0].item[0].link}}"
                  class="thumb flex-0-48" title="{{RssQuocTe.rss.channel[0].item[0].title}}"><img class=""
                                                                                                  src="{{RssQuocTe.rss.channel[0].item[0].image}}"
                                                                                                  width="382"
                                                                                                  height="240"
                                                                                                  alt="{{RssQuocTe.rss.channel[0].item[0].title}}"></a>
                <div class="text ms-3 flex-0-48">
                  <h3><a
                    href="{{RssQuocTe.rss.channel[0].item[0].link}}"
                    class="title" title="{{RssQuocTe.rss.channel[0].item[0].title}}">
                    {{RssQuocTe.rss.channel[0].item[0].title}}
                  </a></h3>
                  <p class="sapo webkit-box">
                    {{RssQuocTe.rss.channel[0].item[0].description.toString().slice(RssQuocTe.rss.channel[0].item[0].description.toString().lastIndexOf(">") + 1, RssQuocTe.rss.channel[0].item[0].description.toString().length)}}
                  </p>
                </div>
              </div>
              <ul class="list_news d-flex justify-content-between">
                <li *ngFor="let x of forRange(1,3)" class="flex-0-48">
                  <a
                    href="{{RssQuocTe.rss.channel[0].item[x].link}}"
                    class="thumb" title="{{RssQuocTe.rss.channel[0].item[x].title}}"><img
                    class=""
                    src="{{RssQuocTe.rss.channel[0].item[x].image}}"
                    width="382" height="240"
                    alt="{{RssQuocTe.rss.channel[0].item[x].title}}"></a>
                  <h3><a
                    href="{{RssQuocTe.rss.channel[0].item[x].link}}"
                    class="title" title="{{RssQuocTe.rss.channel[0].item[x].title}}">
                    {{RssQuocTe.rss.channel[0].item[x].title}}
                  </a></h3></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
