/*Start CSS footer*/
#footer {
  width: 100%;
  height: 185px;
  background-color: #b7b7b7;
}

#footer .footer-main {
  padding: 24px 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .footer-element p {
  margin-top: 16px;
  color: #555050;
}

#footer .footer-icon {
  display: inline-block;
  height: 46px;
  width: 46px;
  font-size: 23px;
  color: #555050;
  border-radius: 50%;
  border: 1px solid #555050;
  margin: 8px;
  padding: 10px 8px;
  /* justify-content: center; */
  /* align-items: center; */
}
/*End CSS footer*/
