.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;

  button {
    width: 4rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    color: white;
    padding: 0.5rem;
    background-color: #007bff;
    outline: none;
    border: none;
  }
}
.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
}
