$background-color: #f2f2f2;
.bg-gray {
  background-color: $background-color;
}
.main-container {
  width: 980px;
  margin: 0 auto;
}


.uploaded-time {

}

.sub-title {
  font-weight: bolder !important;
  font-size:100px !important;
}

