<div id="catalog" class="vw-100 vh-100 d-flex justify-content-center align-items-start bg-cover">
  <div class="w-50 h-100 p-3 bg-white overflow-auto">
    <div class="header d-flex flex-column h-50">
      <div class="title fs-2 text fw-bold">
        Liên Minh Huyền Thoại
      </div>
      <div class="big-news flex-1 d-flex bg-big-news mb-3">
        <div class="image-big-news flex-1" style="background-size: cover ;background-image: url('https://cdn-img.thethao247.vn/resize_320x200/storage/files/minhnp/2022/06/30/okkkkkkkk-1656574993.jpg')">

        </div>
        <div class="right-content-big-news flex-1 mx-3 my-2">
            <div class="title fw-bold fs-5 text mb-2">
              Quang Hải và những tuyển thủ Việt Nam từng xuất ngoại: Dàn sao HAGL lấn lướt
            </div>
          <div class="content ">
            Trước trường hợp của Nguyễn Quang Hải, đã có không ít cầu thủ Việt Nam từng xuất ngoại và dàn sao của HAGL đang lấn lướt trong danh sách này.
          </div>
        </div>
      </div>
      <!--Item-->
      <div class="small-news flex-1 d-flex flex-row justify-content-between">
        <!--Item small-->
        <div class="item-small-news w-200 d-flex flex-column ">
          <div class="img flex-1 mb-2" style="background-size: cover ;background-image: url('https://cdn-img.thethao247.vn/resize_320x200/storage/files/nvhainam/2022/07/18/img_1990-1658117827.jpg')">

          </div>
          <div class="content flex-1 fw-bold fs-6 text">
            SofM và WBG chấm dứt chuỗi 9 trận thắng của đội đầu bảng LPL
          </div>
        </div>
        <!--Item small-->
        <div class="item-small-news w-200 d-flex flex-column ">
          <div class="img flex-1 mb-2" style="background-size: cover ;background-image: url('https://cdn-img.thethao247.vn/resize_320x200/storage/files/nvhainam/2022/07/18/img_1990-1658117827.jpg')">

          </div>
          <div class="content flex-1 fw-bold fs-6 text">
            SofM và WBG chấm dứt chuỗi 9 trận thắng của đội đầu bảng LPL
          </div>
        </div>
        <!--Item small-->
        <div class="item-small-news w-200 d-flex flex-column ">
          <div class="img flex-1 mb-2" style="background-size: cover ;background-image: url('https://cdn-img.thethao247.vn/resize_320x200/storage/files/nvhainam/2022/07/18/img_1990-1658117827.jpg')">

          </div>
          <div class="content flex-1 fw-bold fs-6 text">
            SofM và WBG chấm dứt chuỗi 9 trận thắng của đội đầu bảng LPL
          </div>
        </div>
      </div>
    </div>
    <div class="newest h-100 ">
      <div class="title fs-4 text">Mới nhất</div>
      <div class="border border-top border-3 border-primary mb-3"></div>
      <!--Item-->
      <div class="item d-flex flex-row h-140 mb-4">
        <div class="image flex-1" style="background-size: cover ;background-image: url('https://cdn-img.thethao247.vn/resize_320x200/upload/namnv/2018/05/28/do-hung-dung-khuat-phuc-chuyen-gia-kho-tinh-hon-hlv-park-hang-seo1527496582.jpg')">

        </div>
        <div class="content-item flex-3 ms-3 d-flex flex-column">
          <div class="title-item fw-bold fs-5 text mb-2">
            Đỗ Hùng Dũng: Khuất phục chuyên gia khó tính hơn HLV Park Hang SeoLV Park Hang SeoLV Park Hang Seo
          </div>
          <div class="detail-content text-content overflow-hidden">
            Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.
          </div>
        </div>
      </div>
      <div class="border border-top border-1 mb-4"></div>
      <!--Item-->
      <div class="item d-flex flex-row h-140 mb-4">
        <div class="image flex-1" style="background-size: cover ;background-image: url('https://cdn-img.thethao247.vn/resize_320x200/upload/namnv/2018/05/28/do-hung-dung-khuat-phuc-chuyen-gia-kho-tinh-hon-hlv-park-hang-seo1527496582.jpg')">

        </div>
        <div class="content-item flex-3 ms-3 d-flex flex-column">
          <div class="title-item fw-bold fs-5 text mb-2">
            Đỗ Hùng Dũng: Khuất phục chuyên gia khó tính hơn HLV Park Hang SeoLV Park Hang SeoLV Park Hang Seo
          </div>
          <div class="detail-content text-content overflow-hidden">
            Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.
          </div>
        </div>
      </div>
      <div class="border border-top border-1 mb-4"></div>
      <!--Item-->
      <div class="item d-flex flex-row h-140 mb-4">
        <div class="image flex-1" style="background-size: cover ;background-image: url('https://cdn-img.thethao247.vn/resize_320x200/upload/namnv/2018/05/28/do-hung-dung-khuat-phuc-chuyen-gia-kho-tinh-hon-hlv-park-hang-seo1527496582.jpg')">

        </div>
        <div class="content-item flex-3 ms-3 d-flex flex-column">
          <div class="title-item fw-bold fs-5 text mb-2">
            Đỗ Hùng Dũng: Khuất phục chuyên gia khó tính hơn HLV Park Hang SeoLV Park Hang SeoLV Park Hang Seo
          </div>
          <div class="detail-content text-content overflow-hidden">
            Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.
          </div>
        </div>
      </div>
      <div class="border border-top border-1 mb-4"></div>
      <!--Item-->
      <div class="item d-flex flex-row h-140 mb-4">
        <div class="image flex-1" style="background-size: cover ;background-image: url('https://cdn-img.thethao247.vn/resize_320x200/upload/namnv/2018/05/28/do-hung-dung-khuat-phuc-chuyen-gia-kho-tinh-hon-hlv-park-hang-seo1527496582.jpg')">

        </div>
        <div class="content-item flex-3 ms-3 d-flex flex-column">
          <div class="title-item fw-bold fs-5 text mb-2">
            Đỗ Hùng Dũng: Khuất phục chuyên gia khó tính hơn HLV Park Hang SeoLV Park Hang SeoLV Park Hang Seo
          </div>
          <div class="detail-content text-content overflow-hidden">
            Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.
          </div>
        </div>
      </div>
      <div class="border border-top border-1 mb-4"></div>
      <!--Item-->
      <div class="item d-flex flex-row h-140 mb-4">
        <div class="image flex-1" style="background-size: cover ;background-image: url('https://cdn-img.thethao247.vn/resize_320x200/upload/namnv/2018/05/28/do-hung-dung-khuat-phuc-chuyen-gia-kho-tinh-hon-hlv-park-hang-seo1527496582.jpg')">

        </div>
        <div class="content-item flex-3 ms-3 d-flex flex-column">
          <div class="title-item fw-bold fs-5 text mb-2">
            Đỗ Hùng Dũng: Khuất phục chuyên gia khó tính hơn HLV Park Hang SeoLV Park Hang SeoLV Park Hang Seo
          </div>
          <div class="detail-content text-content overflow-hidden">
            Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.
          </div>
        </div>
      </div>
      <div class="border border-top border-1 mb-4"></div>
      <!--Item-->
      <div class="item d-flex flex-row h-140 mb-4">
        <div class="image flex-1" style="background-size: cover ;background-image: url('https://cdn-img.thethao247.vn/resize_320x200/upload/namnv/2018/05/28/do-hung-dung-khuat-phuc-chuyen-gia-kho-tinh-hon-hlv-park-hang-seo1527496582.jpg')">

        </div>
        <div class="content-item flex-3 ms-3 d-flex flex-column">
          <div class="title-item fw-bold fs-5 text mb-2">
            Đỗ Hùng Dũng: Khuất phục chuyên gia khó tính hơn HLV Park Hang SeoLV Park Hang SeoLV Park Hang Seo
          </div>
          <div class="detail-content text-content overflow-hidden">
            Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.
          </div>
        </div>
      </div>
      <div class="border border-top border-1 mb-4"></div>
      <!--Item-->
      <div class="item d-flex flex-row h-140 mb-4">
        <div class="image flex-1" style="background-size: cover ;background-image: url('https://cdn-img.thethao247.vn/resize_320x200/upload/namnv/2018/05/28/do-hung-dung-khuat-phuc-chuyen-gia-kho-tinh-hon-hlv-park-hang-seo1527496582.jpg')">

        </div>
        <div class="content-item flex-3 ms-3 d-flex flex-column">
          <div class="title-item fw-bold fs-5 text mb-2">
            Đỗ Hùng Dũng: Khuất phục chuyên gia khó tính hơn HLV Park Hang SeoLV Park Hang SeoLV Park Hang Seo
          </div>
          <div class="detail-content text-content overflow-hidden">
            Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.Tôi muốn góp mặt ở đội tuyển, chỉ cần tập cùng đội thôi cũng được", những tâm sự nhói lòng như thế có lẽ không nên lặp lại.
          </div>
        </div>
      </div>
      <div class="border border-top border-1 mb-4"></div>
    </div>
  </div>
</div>
