<nav class="navbar navbar-expand-lg navbar-dark bg-white position-fixed start-0 end-0">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" href="#">Tin tức 247</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex align-items-center justify-content-center" id="main_nav">
      <ul class="navbar-nav mx-3">
        <li class="nav-item dropdown">
          <a class="nav-link text-uppercase text-black" href="#" data-bs-toggle="dropdown">Esports</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="lien-minh-huyen-thoai-c181">Liên Minh Huyền Thoại</a></li>
            <li><a class="dropdown-item" routerLink="dau-truong-chan-ly-c303">Đấu Trường Chân Lý</a></li>
            <li><a class="dropdown-item" href="#">LMHT Tốc Chiến</a></li>
            <li><a class="dropdown-item" href="#">Valorant</a></li>
            <li><a class="dropdown-item" href="#">Genshin Impact</a></li>
            <li><a class="dropdown-item" href="#">PUBG</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav mx-3">
        <li class="nav-item dropdown">
          <a class="nav-link text-uppercase text-black" href="#" data-bs-toggle="dropdown">bóng đá việt nam</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">V-League</a></li>
            <li><a class="dropdown-item" href="#">Đội tuyển Quốc gia</a></li>
            <li><a class="dropdown-item" href="#">U23 Đông Nam Á</a></li>
            <li><a class="dropdown-item" href="#">Bóng Đá Nữ</a></li>
            <li><a class="dropdown-item" href="#">Sự kiện - Bình luận bóng đá Việt Nam</a></li>
            <li><a class="dropdown-item" href="#">U21 Quốc Gia</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
