.navbar .nav-item .dropdown-menu{ display: none; }
.navbar .nav-item:hover .nav-link{   }
.navbar .nav-item:hover .dropdown-menu{ display: block; }
.navbar .nav-item .dropdown-menu{ margin-top:0; }
.navbar .dropdown-menu .dropdown-item:hover {background-color: lightgrey}
.navbar .nav-item .dropdown-menu {
  display: none;
}

.navbar .nav-item:hover .nav-link {
}



.navbar .nav-item .dropdown-menu {
  margin-top: -1px;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: lightgrey
}

.navbar {
  z-index: 9999;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nofixed {
  position: relative;
}

@media screen and (max-width: 990px){
  .navbar-collapse {
    align-items: normal!important;
  }

  .nofixed {
    width: 100vw;
  }
}

@media screen and (max-width: 400px){
  #catalog {
    display: block!important;
  }
  .nofixed {
    width: 36rem;
  }
}
