<div id="root" style="background: #f1f1f1;">
  <div class="main-content">
    <div class="main">
      <div class="container bg-white p-3">
        <div class="box-pick pb-3 row">
          <div class="is_desktop col-md-2 p-0">
            <div class="box_utility me-3">
              <ul class="list_utility p-0 pt-2 pb-1">
                <li>
                  <a href="" title="Tin mới">
                    <i class="far fa-newspaper"></i>
                    <span class="spn_number_news">83</span>
                    <span class="text_center">Tin mới</span>
                  </a>
                </li>
                <li class="tructiep-li">
                  <a href="" title="Video">
                    <i class="fab fa-youtube"></i>
                    <span class="text_center">Video</span>
                  </a>
                </li>
                <li>
                  <a href="" title="Livescore">
                    <i class="fas fa-video"></i>
                    <span class="text_center">Livescore</span>
                  </a>
                </li>
                <li>
                  <a href="" title="Lịch thi đấu bóng đá">
                    <i class="fas fa-calendar-alt"></i>
                    <span class="text_center">Lịch thi đấu</span>
                  </a>
                </li>
                <li>
                  <a href="/ket-qua-bong-da-truc-tuyen/" title="Kết quả bóng đá">
                    <i class="fas fa-medal"></i>
                    <span class="text_center">Kết quả</span>
                  </a>
                </li>
                <li class="news-24h">
                  <a href="/bang-xep-hang-bong-da/" title="Bảng xếp hạng bóng đá">
                    <i class="fas fa-synagogue"></i>
                    <span class="text_center">BXH</span>
                  </a>
                </li>
                <li class="tructiep-li">
                  <a href="" title="Trực tiếp bóng đá">
                    <img src="https://thethao247.vn/frontend/images/ico_tructiep.svg" class="tructiep-icon loading"
                         width="25%"
                         alt="Trực tiếp">
                    <span class="text_center">Trực tiếp</span>
                  </a>
                </li>
              </ul>
              <ul class="list_tournamens">
                <li>
                  <a href="/lich-thi-dau-bong-da/world-cup-qualification-asia-gd5.html"
                     title="Lịch thi đấu World Cup - Qualification Asia">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/fifa.png"
                           alt="World Cup - Qualification Asia" title="Lịch thi đấu World Cup - Qualification Asia">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">VL World Cup
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/lich-thi-dau-bong-da/premier-league-gd9.html" title="Lịch thi đấu Premier League">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/gb.svg" alt="Premier League"
                           title="Lịch thi đấu Premier League">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">Premier League
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/lich-thi-dau-bong-da/la-liga-gd14.html" title="Lịch thi đấu La Liga">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/es.svg" alt="La Liga"
                           title="Lịch thi đấu La Liga">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">La Liga</div>
                  </a>
                </li>
                <li>
                  <a href="/lich-thi-dau-bong-da/serie-a-gd15.html" title="Lịch thi đấu Serie A">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/it.svg" alt="Serie A"
                           title="Lịch thi đấu Serie A">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">Serie A</div>
                  </a>
                </li>
                <li>
                  <a href="/lich-thi-dau-bong-da/bundesliga-1-gd13.html" title="Lịch thi đấu Bundesliga 1">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/de.svg" alt="Bundesliga 1"
                           title="Lịch thi đấu Bundesliga 1">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">Bundesliga</div>
                  </a>
                </li>
                <li>
                  <a href="/lich-thi-dau-bong-da/ligue-1-gd10.html" title="Lịch thi đấu Ligue 1">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/fr.svg" alt="Ligue 1"
                           title="Lịch thi đấu Ligue 1">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">Ligue 1</div>
                  </a>
                </li>
                <li>
                  <a href="/lich-thi-dau-bong-da/uefa-champions-league-gd3.html"
                     title="Lịch thi đấu UEFA Champions League">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/uefa.png"
                           alt="UEFA Champions League" title="Lịch thi đấu UEFA Champions League">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">CUP C1</div>
                  </a>
                </li>
                <li>
                  <a href="/lich-thi-dau-bong-da/uefa-europa-league-gd402.html" title="Lịch thi đấu UEFA Europa League">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/uefa.png"
                           alt="UEFA Europa League"
                           title="Lịch thi đấu UEFA Europa League">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">Europa League
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/lich-thi-dau-bong-da/vleague-1-gd8.html" title="Lịch thi đấu V.League 1">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/flags/vn.svg" alt="V.League 1"
                           title="Lịch thi đấu V.League 1">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">V-League</div>
                  </a>
                </li>
                <li>
                  <a href="/lich-thi-dau-bong-da/afc-champions-league-gd1023.html"
                     title="Lịch thi đấu AFC Champions League">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/leagues/17.png"
                           alt="AFC Champions League" title="Lịch thi đấu AFC Champions League">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">AFC Champions
                    </div>
                  </a>
                </li>
                <li>
                  <a href="/lich-thi-dau-bong-da/afc-cup-gd4.html" title="Lịch thi đấu AFC Cup">
                    <div class="league-logo">
                      <img src="https://cdn-img.thethao247.vn/upload/api-football/leagues/1248.png" alt="AFC Cup"
                           title="Lịch thi đấu AFC Cup">
                    </div>
                    <div class="league-title d-flex justify-content-center align-items-center fw-bold">AFC CUP</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="flex-1 col-md-10 p-0">
            <div class="top-pick d-flex position-relative">
              <div class="w100-200">
                <div class="cover ms-2">
                  <div class="home_main_img d-flex">
                    <img
                      src="https://cdn-img.thethao247.vn/storage/files/camhm/2022/07/23/truc-tiep-tottenham-0-0-rangers-song-sat-son-kane-xuat-tran-161546.jpg"
                      style="width: 100%; height: 400px;"
                      alt="Trực tiếp Tottenham 2-1 Rangers: Cú đúp chóng vánh của Harry Kane">
                    <a href="https://thethao247.vn/426-truc-tiep-tottenham-vs-rangers-21h-hom-nay-23-7-d261419.html"
                       class="thumb" title="Trực tiếp Tottenham 2-1 Rangers: Cú đúp chóng vánh của Harry Kane">
                    </a>
                  </div>
                  <div class="content">
                    <a href="https://thethao247.vn/bong-da-quoc-te-c2/" class="title_cat" title="Bóng đá quốc tế">Bóng
                      đá
                      quốc tế</a>
                    <h2><a href="https://thethao247.vn/426-truc-tiep-tottenham-vs-rangers-21h-hom-nay-23-7-d261419.html"
                           class="title" title="Trực tiếp Tottenham 2-1 Rangers: Cú đúp chóng vánh của Harry Kane">Trực
                      tiếp Tottenham 2-1 Rangers: Cú đúp chóng vánh của Harry Kane </a>
                    </h2>
                    <p class="sapo">(Trực tiếp bóng đá Tottenham vs Rangers) - Mặc dù đã bổ sung rất nhiều những bản hợp
                      đồng chất lượng trong phiên chợ hè 2022, tuy nhiên Tottenham vẫn chưa thể khiến người hâm mộ cảm
                      thấy yên tâm sau những trận giao hữu vừa qua.</p>
                  </div>
                </div>
              </div>
              <div class="w200 scroll me-2">
                <div class="pick_right ps-3">
                  <ul class="p-0">
                    <li>
                      <h3>
                        <a
                          href="https://thethao247.vn/406-nguoi-hung-u23-viet-nam-tu-tin-truoc-co-hoi-chao-san-tai-v-league-d261516.html"
                          class="title" title="Người hùng U23 Việt Nam tự tin trước cơ hội chào sân tại V-League"><span
                          class="special-line">Người hùng U23 Việt Nam tự tin</span> trước cơ hội chào sân tại V-League
                        </a>
                      </h3>
                    </li>
                    <li>
                      <h3>
                        <a
                          href="https://thethao247.vn/406-nguoi-hung-u23-viet-nam-tu-tin-truoc-co-hoi-chao-san-tai-v-league-d261516.html"
                          class="title" title="Người hùng U23 Việt Nam tự tin trước cơ hội chào sân tại V-League"><span
                          class="special-line">Người hùng U23 Việt Nam tự tin</span> trước cơ hội chào sân tại V-League
                        </a>
                      </h3>
                    </li>
                    <li>
                      <h3>
                        <a
                          href="https://thethao247.vn/406-nguoi-hung-u23-viet-nam-tu-tin-truoc-co-hoi-chao-san-tai-v-league-d261516.html"
                          class="title" title="Người hùng U23 Việt Nam tự tin trước cơ hội chào sân tại V-League"><span
                          class="special-line">Người hùng U23 Việt Nam tự tin</span> trước cơ hội chào sân tại V-League
                        </a>
                      </h3>
                    </li>
                    <li>
                      <h3>
                        <a
                          href="https://thethao247.vn/406-nguoi-hung-u23-viet-nam-tu-tin-truoc-co-hoi-chao-san-tai-v-league-d261516.html"
                          class="title" title="Người hùng U23 Việt Nam tự tin trước cơ hội chào sân tại V-League"><span
                          class="special-line">Người hùng U23 Việt Nam tự tin</span> trước cơ hội chào sân tại V-League
                        </a>
                      </h3>
                    </li>
                    <li>
                      <h3>
                        <a
                          href="https://thethao247.vn/406-nguoi-hung-u23-viet-nam-tu-tin-truoc-co-hoi-chao-san-tai-v-league-d261516.html"
                          class="title" title="Người hùng U23 Việt Nam tự tin trước cơ hội chào sân tại V-League"><span
                          class="special-line">Người hùng U23 Việt Nam tự tin</span> trước cơ hội chào sân tại V-League
                        </a>
                      </h3>
                    </li>
                    <li>
                      <h3>
                        <a
                          href="https://thethao247.vn/406-nguoi-hung-u23-viet-nam-tu-tin-truoc-co-hoi-chao-san-tai-v-league-d261516.html"
                          class="title" title="Người hùng U23 Việt Nam tự tin trước cơ hội chào sân tại V-League"><span
                          class="special-line">Người hùng U23 Việt Nam tự tin</span> trước cơ hội chào sân tại V-League
                        </a>
                      </h3>
                    </li>
                    <li>
                      <h3>
                        <a
                          href="https://thethao247.vn/406-nguoi-hung-u23-viet-nam-tu-tin-truoc-co-hoi-chao-san-tai-v-league-d261516.html"
                          class="title" title="Người hùng U23 Việt Nam tự tin trước cơ hội chào sân tại V-League"><span
                          class="special-line">Người hùng U23 Việt Nam tự tin</span> trước cơ hội chào sân tại V-League
                        </a>
                      </h3>
                    </li>
                    <li>
                      <h3>
                        <a
                          href="https://thethao247.vn/406-nguoi-hung-u23-viet-nam-tu-tin-truoc-co-hoi-chao-san-tai-v-league-d261516.html"
                          class="title" title="Người hùng U23 Việt Nam tự tin trước cơ hội chào sân tại V-League"><span
                          class="special-line">Người hùng U23 Việt Nam tự tin</span> trước cơ hội chào sân tại V-League
                        </a>
                      </h3>
                    </li>
                    <li>
                      <h3>
                        <a
                          href="https://thethao247.vn/406-nguoi-hung-u23-viet-nam-tu-tin-truoc-co-hoi-chao-san-tai-v-league-d261516.html"
                          class="title" title="Người hùng U23 Việt Nam tự tin trước cơ hội chào sân tại V-League"><span
                          class="special-line">Người hùng U23 Việt Nam tự tin</span> trước cơ hội chào sân tại V-League
                        </a>
                      </h3>
                    </li>
                    <li>
                      <h3>
                        <a
                          href="https://thethao247.vn/406-nguoi-hung-u23-viet-nam-tu-tin-truoc-co-hoi-chao-san-tai-v-league-d261516.html"
                          class="title" title="Người hùng U23 Việt Nam tự tin trước cơ hội chào sân tại V-League"><span
                          class="special-line">Người hùng U23 Việt Nam tự tin</span> trước cơ hội chào sân tại V-League
                        </a>
                      </h3>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="bot-pick mx-2">
              <ul>
                <li>
                  <a
                    href="https://thethao247.vn/402-nguoi-dai-dien-giai-thich-nguyen-nhan-van-hau-khong-the-thi-dau-o-ha-lan-d261471.html"
                    class="thumb fw-bold"
                    title="Người đại diện giải thích nguyên nhân Văn Hậu không thể thi đấu ở Hà Lan">
                    <img
                      src="https://cdn-img.thethao247.vn/resize_389x234/storage/files/ngachelsea/2022/07/21/doan-van-hau-van-chua-the-khien-hlv-park-hang-seo-yen-tam-160541.jpg"
                      width="389" height="234"
                      alt="Người đại diện giải thích nguyên nhân Văn Hậu không thể thi đấu ở Hà Lan"></a>
                  <div class="content">
                    <a href="https://thethao247.vn/bong-da-viet-nam-c1/" class="title_cat" title="Bóng đá Việt Nam">Bóng
                      đá Việt Nam</a>
                    <h2><a
                      href="https://thethao247.vn/402-nguoi-dai-dien-giai-thich-nguyen-nhan-van-hau-khong-the-thi-dau-o-ha-lan-d261471.html"
                      class="title" title="Người đại diện giải thích nguyên nhân Văn Hậu không thể thi đấu ở Hà Lan">Người
                      đại diện giải thích nguyên nhân <span
                        class="special-line">Văn Hậu không thể thi đấu ở Hà Lan</span></a>
                    </h2></div>
                </li>
                <li>
                  <a
                    href="https://thethao247.vn/420-he-lo-ly-do-viet-nam-tu-choi-loi-moi-tham-du-kings-cup-cua-thai-lan-d261479.html"
                    class="thumb" title="Hé lộ lý do Việt Nam từ chối lời mời tham dự King's Cup của Thái Lan"><img
                    class=""
                    src="https://cdn-img.thethao247.vn/resize_389x234/storage/files/minhnp/2022/07/23/vietnam-thailan1-1658584897.jpg"
                    width="389" height="234"
                    alt="Hé lộ lý do Việt Nam từ chối lời mời tham dự King's Cup của Thái Lan"></a>
                  <div class="content">
                    <a href="https://thethao247.vn/bong-da-viet-nam-c1/" class="title_cat" title="Bóng đá Việt Nam">Bóng
                      đá Việt Nam</a>
                    <h2><a
                      href="https://thethao247.vn/420-he-lo-ly-do-viet-nam-tu-choi-loi-moi-tham-du-kings-cup-cua-thai-lan-d261479.html"
                      class="title" title="Hé lộ lý do Việt Nam từ chối lời mời tham dự King's Cup của Thái Lan"><span
                      class="special-line">Hé lộ lý do Việt Nam từ chối lời mời tham dự King's Cup</span> của Thái
                      Lan</a>
                    </h2></div>
                </li>
                <li>
                  <a href="https://thethao247.vn/420-ket-qua-binh-dinh-vs-da-nang-18h00-hom-nay-23-07-d261450.html"
                     class="thumb" title="Đình Trọng mắc sai lầm, Bình Định 'thua đau' Đà Nẵng trên sân nhà"><img
                    class=""
                    src="https://cdn-img.thethao247.vn/resize_389x234/storage/files/minhnp/2022/07/23/dinh-trong-mac-sai-lam-binh-dinh-thua-dau-da-nang-tren-san-nha-161532.jpg"
                    width="389"
                    height="234"
                    alt="Đình Trọng mắc sai lầm, Bình Định 'thua đau' Đà Nẵng trên sân nhà"></a>
                  <div class="content">
                    <a href="https://thethao247.vn/bong-da-viet-nam-c1/" class="title_cat" title="Bóng đá Việt Nam">Bóng
                      đá Việt Nam</a>
                    <h2><a
                      href="https://thethao247.vn/420-ket-qua-binh-dinh-vs-da-nang-18h00-hom-nay-23-07-d261450.html"
                      class="title" title="Đình Trọng mắc sai lầm, Bình Định 'thua đau' Đà Nẵng trên sân nhà">Đình
                      Trọng mắc sai lầm, <span class="special-line">Bình Định 'thua đau' Đà Nẵng trên sân nhà</span></a>
                    </h2></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="list_category_news mb-3 d-flex">
          <div class="flex-1 d-flex flex-wrap">
            <div class="box_latest ps-3">
              <div class="caption">
                <h2>
                  <a href="#" class="title" title="Tin mới nhất">
                    <span>Tin mới nhất</span>
                  </a>
                </h2>
              </div>
              <div class="content">
                <ul>
                  <li>
                    <a
                      href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                      class="thumb me-3" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"><img class=""
                                                                                             src="https://cdn-img.thethao247.vn/resize_248x178/storage/files/anhdat/2022/07/11/vcs-mua-he-2022-1657525706.jpg"
                                                                                             width="248" height="178"
                                                                                             alt="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"></a>
                    <div class="text flex-1">
                      <h3><a href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                             class="title" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất">Bảng xếp hạng VCS Mùa Hè 2022
                        mới nhất</a></h3>
                    </div>
                  </li>
                  <li>
                    <a
                      href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                      class="thumb me-3" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"><img class=""
                                                                                             src="https://cdn-img.thethao247.vn/resize_248x178/storage/files/anhdat/2022/07/11/vcs-mua-he-2022-1657525706.jpg"
                                                                                             width="248" height="178"
                                                                                             alt="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"></a>
                    <div class="text flex-1">
                      <h3><a href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                             class="title" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất">Bảng xếp hạng VCS Mùa Hè 2022
                        mới nhất</a></h3>
                    </div>
                  </li>
                  <li>
                    <a
                      href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                      class="thumb me-3" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"><img class=""
                                                                                             src="https://cdn-img.thethao247.vn/resize_248x178/storage/files/anhdat/2022/07/11/vcs-mua-he-2022-1657525706.jpg"
                                                                                             width="248" height="178"
                                                                                             alt="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"></a>
                    <div class="text flex-1">
                      <h3><a href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                             class="title" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất">Bảng xếp hạng VCS Mùa Hè 2022
                        mới nhất</a></h3>
                    </div>
                  </li>
                  <li>
                    <a
                      href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                      class="thumb me-3" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"><img class=""
                                                                                             src="https://cdn-img.thethao247.vn/resize_248x178/storage/files/anhdat/2022/07/11/vcs-mua-he-2022-1657525706.jpg"
                                                                                             width="248" height="178"
                                                                                             alt="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"></a>
                    <div class="text flex-1">
                      <h3><a href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                             class="title" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất">Bảng xếp hạng VCS Mùa Hè 2022
                        mới nhất</a></h3>
                    </div>
                  </li>
                  <li>
                    <a
                      href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                      class="thumb me-3" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"><img class=""
                                                                                             src="https://cdn-img.thethao247.vn/resize_248x178/storage/files/anhdat/2022/07/11/vcs-mua-he-2022-1657525706.jpg"
                                                                                             width="248" height="178"
                                                                                             alt="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"></a>
                    <div class="text flex-1">
                      <h3><a href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                             class="title" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất">Bảng xếp hạng VCS Mùa Hè 2022
                        mới nhất</a></h3>
                    </div>
                  </li>
                  <li>
                    <a
                      href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                      class="thumb me-3" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"><img class=""
                                                                                             src="https://cdn-img.thethao247.vn/resize_248x178/storage/files/anhdat/2022/07/11/vcs-mua-he-2022-1657525706.jpg"
                                                                                             width="248" height="178"
                                                                                             alt="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"></a>
                    <div class="text flex-1">
                      <h3><a href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                             class="title" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất">Bảng xếp hạng VCS Mùa Hè 2022
                        mới nhất</a></h3>
                    </div>
                  </li>
                  <li>
                    <a
                      href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                      class="thumb me-3" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"><img class=""
                                                                                             src="https://cdn-img.thethao247.vn/resize_248x178/storage/files/anhdat/2022/07/11/vcs-mua-he-2022-1657525706.jpg"
                                                                                             width="248" height="178"
                                                                                             alt="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"></a>
                    <div class="text flex-1">
                      <h3><a href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                             class="title" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất">Bảng xếp hạng VCS Mùa Hè 2022
                        mới nhất</a></h3>
                    </div>
                  </li>
                  <li>
                    <a
                      href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                      class="thumb me-3" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"><img class=""
                                                                                             src="https://cdn-img.thethao247.vn/resize_248x178/storage/files/anhdat/2022/07/11/vcs-mua-he-2022-1657525706.jpg"
                                                                                             width="248" height="178"
                                                                                             alt="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"></a>
                    <div class="text flex-1">
                      <h3><a href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                             class="title" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất">Bảng xếp hạng VCS Mùa Hè 2022
                        mới nhất</a></h3>
                    </div>
                  </li>
                  <li>
                    <a
                      href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                      class="thumb me-3" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"><img class=""
                                                                                             src="https://cdn-img.thethao247.vn/resize_248x178/storage/files/anhdat/2022/07/11/vcs-mua-he-2022-1657525706.jpg"
                                                                                             width="248" height="178"
                                                                                             alt="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"></a>
                    <div class="text flex-1">
                      <h3><a href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                             class="title" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất">Bảng xếp hạng VCS Mùa Hè 2022
                        mới nhất</a></h3>
                    </div>
                  </li>
                  <li>
                    <a
                      href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                      class="thumb me-3" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"><img class=""
                                                                                             src="https://cdn-img.thethao247.vn/resize_248x178/storage/files/anhdat/2022/07/11/vcs-mua-he-2022-1657525706.jpg"
                                                                                             width="248" height="178"
                                                                                             alt="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"></a>
                    <div class="text flex-1">
                      <h3><a href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                             class="title" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất">Bảng xếp hạng VCS Mùa Hè 2022
                        mới nhất</a></h3>
                    </div>
                  </li>
                  <li>
                    <a
                      href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                      class="thumb me-3" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"><img class=""
                                                                                             src="https://cdn-img.thethao247.vn/resize_248x178/storage/files/anhdat/2022/07/11/vcs-mua-he-2022-1657525706.jpg"
                                                                                             width="248" height="178"
                                                                                             alt="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"></a>
                    <div class="text flex-1">
                      <h3><a href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                             class="title" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất">Bảng xếp hạng VCS Mùa Hè 2022
                        mới nhất</a></h3>
                    </div>
                  </li>
                  <li>
                    <a
                      href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                      class="thumb me-3" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"><img class=""
                                                                                             src="https://cdn-img.thethao247.vn/resize_248x178/storage/files/anhdat/2022/07/11/vcs-mua-he-2022-1657525706.jpg"
                                                                                             width="248" height="178"
                                                                                             alt="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"></a>
                    <div class="text flex-1">
                      <h3><a href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                             class="title" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất">Bảng xếp hạng VCS Mùa Hè 2022
                        mới nhất</a></h3>
                    </div>
                  </li>
                  <li>
                    <a
                      href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                      class="thumb me-3" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"><img class=""
                                                                                             src="https://cdn-img.thethao247.vn/resize_248x178/storage/files/anhdat/2022/07/11/vcs-mua-he-2022-1657525706.jpg"
                                                                                             width="248" height="178"
                                                                                             alt="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"></a>
                    <div class="text flex-1">
                      <h3><a href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                             class="title" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất">Bảng xếp hạng VCS Mùa Hè 2022
                        mới nhất</a></h3>
                    </div>
                  </li>
                  <li>
                    <a
                      href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                      class="thumb me-3" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"><img class=""
                                                                                             src="https://cdn-img.thethao247.vn/resize_248x178/storage/files/anhdat/2022/07/11/vcs-mua-he-2022-1657525706.jpg"
                                                                                             width="248" height="178"
                                                                                             alt="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất"></a>
                    <div class="text flex-1">
                      <h3><a href="https://thethao247.vn/423-bang-xep-hang-vcs-mua-he-2022-moi-nhat-d260467.html"
                             class="title" title="Bảng xếp hạng VCS Mùa Hè 2022 mới nhất">Bảng xếp hạng VCS Mùa Hè 2022
                        mới nhất</a></h3>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="box_common ps-3">
              <div class="flex-1">
                <div class="cat-style-1 mb-3">
                  <div class="caption">
                    <h2><a class="title" href="https://thethao247.vn/bong-da-viet-nam-c1/" title="Bóng đá Việt Nam">
                      <span>Bóng đá Việt Nam</span>
                    </a></h2>
                    <a class="more" href="https://thethao247.vn/bong-da-viet-nam-c1/" title="Bóng đá Việt Nam">
                      XEM TẤT CẢ <i class="fas fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="content">
                    <div class="first_news mb-3 d-flex justify-content-between flex-wrap">
                      <a
                        href="https://thethao247.vn/406-nguoi-hung-u23-viet-nam-tu-tin-truoc-co-hoi-chao-san-tai-v-league-d261516.html"
                        class="thumb" title="Người hùng U23 Việt Nam tự tin trước cơ hội chào sân tại V-League"><img
                        class=""
                        src="https://cdn-img.thethao247.vn/resize_382x240/storage/files/huynguyen/2022/06/03/phan-tuan-tai-xung-danh-hung-than-voi-3-lan-gieo-sau-cho-u23-thai-lan-144332.jpg"
                        width="382" height="240"
                        alt="Người hùng U23 Việt Nam tự tin trước cơ hội chào sân tại V-League"></a>
                      <div class="text">
                        <h3><a
                          href="https://thethao247.vn/406-nguoi-hung-u23-viet-nam-tu-tin-truoc-co-hoi-chao-san-tai-v-league-d261516.html"
                          class="title" title="Người hùng U23 Việt Nam tự tin trước cơ hội chào sân tại V-League">Người
                          hùng U23 Việt Nam tự tin trước cơ hội chào sân tại V-League</a></h3>
                        <p class="sapo">Phan Tuấn Tài đã được CLB Viettel đăng ký ở giai đoạn 2 V-League 2022 và có thể
                          thi đấu kể từ vòng 9.</p>
                      </div>
                    </div>
                    <ul class="list_news d-flex justify-content-between flex-wrap">
                      <li>
                        <a
                          href="https://thethao247.vn/406-chu-tich-ldbd-indonesia-cu-o-dong-nam-a-mai-thi-khong-the-tien-bo-d261514.html"
                          class="thumb"
                          title="Chủ tịch LĐBĐ Indonesia: 'Cứ ở Đông Nam Á mãi thì không thể tiến bộ'"><img class=""
                                                                                                            src="https://cdn-img.thethao247.vn/resize_382x240/storage/files/huynguyen/2022/04/28/iriawan-ketum-pssi-1651140456.jpg"
                                                                                                            width="382"
                                                                                                            height="240"
                                                                                                            alt="Chủ tịch LĐBĐ Indonesia: 'Cứ ở Đông Nam Á mãi thì không thể tiến bộ'"></a>
                        <h3><a
                          href="https://thethao247.vn/406-chu-tich-ldbd-indonesia-cu-o-dong-nam-a-mai-thi-khong-the-tien-bo-d261514.html"
                          class="title" title="Chủ tịch LĐBĐ Indonesia: 'Cứ ở Đông Nam Á mãi thì không thể tiến bộ'">Chủ
                          tịch LĐBĐ Indonesia: 'Cứ ở Đông Nam Á mãi thì không thể tiến bộ'</a></h3></li>
                      <li>
                        <a
                          href="https://thethao247.vn/405-cdv-hai-phong-lai-lam-loan-vff-tiep-tuc-ra-an-phat-nang-d261488.html"
                          class="thumb" title="CĐV Hải Phòng lại 'làm loạn', VFF tiếp tục ra án phạt nặng?"><img
                          class=""
                          src="https://cdn-img.thethao247.vn/resize_382x240/storage/files/nvhainam/2022/07/24/screenshot_1-1658597936.jpg"
                          width="382" height="240"
                          alt="CĐV Hải Phòng lại 'làm loạn', VFF tiếp tục ra án phạt nặng?"></a>
                        <h3><a
                          href="https://thethao247.vn/405-cdv-hai-phong-lai-lam-loan-vff-tiep-tuc-ra-an-phat-nang-d261488.html"
                          class="title" title="CĐV Hải Phòng lại 'làm loạn', VFF tiếp tục ra án phạt nặng?">CĐV Hải
                          Phòng lại 'làm loạn', VFF tiếp tục ra án phạt nặng?</a></h3></li>
                    </ul>
                  </div>
                </div>
                <div class="cat-style-1 mb-3">
                  <div class="caption">
                    <h2><a class="title" href="https://thethao247.vn/bong-da-duc-c11/" title="Bundesliga">
                      <span>Bundesliga</span>
                    </a></h2>
                    <a class="more" href="https://thethao247.vn/bong-da-duc-c11/" title="Bundesliga">
                      XEM TẤT CẢ <i class="fas fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="content">
                    <div class="first_news mb-3 d-flex justify-content-between flex-wrap">
                      <a
                        href="https://thethao247.vn/395-hlv-conte-noi-dien-khi-nhin-bayern-munich-chieu-mo-harry-kane-d261501.html"
                        class="thumb" title="Conte nổi điên khi thấy Harry Kane bị 'gã khổng lồ' chiêu mộ"><img class=""
                                                                                                                src="https://cdn-img.thethao247.vn/resize_382x240/storage/files/tranvutung/2022/07/24/conte-noi-dien-khi-thay-ga-khong-lo-chot-chieu-mo-harry-kane-161679.jpg"
                                                                                                                width="382"
                                                                                                                height="240"
                                                                                                                alt="Conte nổi điên khi thấy Harry Kane bị 'gã khổng lồ' chiêu mộ"></a>
                      <div class="text">
                        <h3><a
                          href="https://thethao247.vn/395-hlv-conte-noi-dien-khi-nhin-bayern-munich-chieu-mo-harry-kane-d261501.html"
                          class="title" title="Conte nổi điên khi thấy Harry Kane bị 'gã khổng lồ' chiêu mộ">Conte nổi
                          điên khi thấy Harry Kane bị 'gã khổng lồ' chiêu mộ</a></h3>
                        <p class="sapo">HLV Antonio Conte đang vô cùng bực tức khi chứng kiến cậu trò cưng của mình ở
                          Tottenham là Harry Kane bị "gã khổng lồ" của làng bóng đá châu Âu công khai ngỏ ý chiêu
                          mộ.</p>
                      </div>
                    </div>
                    <ul class="list_news d-flex justify-content-between flex-wrap">
                      <li>
                        <a
                          href="https://thethao247.vn/426-tin-chuyen-nhuong-toi-23-7-ronaldo-tro-lai-mai-nha-xua-bayern-chot-harry-kane-d261463.html"
                          class="thumb"
                          title="Tin chuyển nhượng tối 23/7: Ronaldo trở lại mái nhà xưa, Bayern chốt Harry Kane"><img
                          class=""
                          src="https://cdn-img.thethao247.vn/resize_382x240/storage/files/camhm/2022/07/23/tin-chuyen-nhuong-toi-23-7-ronaldo-tro-lai-mai-nha-xua-bayern-chot-harry-kane-161504.jpg"
                          width="382" height="240"
                          alt="Tin chuyển nhượng tối 23/7: Ronaldo trở lại mái nhà xưa, Bayern chốt Harry Kane"></a>
                        <h3><a
                          href="https://thethao247.vn/426-tin-chuyen-nhuong-toi-23-7-ronaldo-tro-lai-mai-nha-xua-bayern-chot-harry-kane-d261463.html"
                          class="title"
                          title="Tin chuyển nhượng tối 23/7: Ronaldo trở lại mái nhà xưa, Bayern chốt Harry Kane">Tin
                          chuyển nhượng tối 23/7: Ronaldo trở lại mái nhà xưa, Bayern chốt Harry Kane</a></h3></li>
                      <li>
                        <a
                          href="https://thethao247.vn/395-tin-chuyen-nhuong-23-7-thanh-madrid-don-ronaldo-tro-ve-d261417.html"
                          class="thumb"
                          title="Tin chuyển nhượng 23/7: Thành Madrid đón Ronaldo trở về, Werner sắp rời Chelsea?"><img
                          class=""
                          src="https://cdn-img.thethao247.vn/resize_382x240/storage/files/tranvutung/2022/07/23/tin-chuyen-nhuong-23-7-thanh-madrid-don-ronaldo-tro-ve-werner-sap-roi-chelsea-161284.jpg"
                          width="382" height="240"
                          alt="Tin chuyển nhượng 23/7: Thành Madrid đón Ronaldo trở về, Werner sắp rời Chelsea?"></a>
                        <h3><a
                          href="https://thethao247.vn/395-tin-chuyen-nhuong-23-7-thanh-madrid-don-ronaldo-tro-ve-d261417.html"
                          class="title"
                          title="Tin chuyển nhượng 23/7: Thành Madrid đón Ronaldo trở về, Werner sắp rời Chelsea?">Tin
                          chuyển nhượng 23/7: Thành Madrid đón Ronaldo trở về, Werner sắp rời Chelsea?</a></h3></li>
                    </ul>
                  </div>
                </div>
                <div class="cat-style-1 mb-3">
                  <div class="caption">
                    <h2><a class="title" href="https://thethao247.vn/bong-da-quoc-te-c2/" title="Bóng đá quốc tế">
                      <span>Bóng đá quốc tế</span>
                    </a></h2>
                    <a class="more" href="https://thethao247.vn/bong-da-quoc-te-c2/" title="Bóng đá quốc tế">
                      XEM TẤT CẢ <i class="fas fa-angle-right"></i>
                    </a>
                  </div>
                  <div class="content">
                    <div class="first_news mb-3 d-flex justify-content-between flex-wrap">
                      <a
                        href="https://thethao247.vn/416-de-ligt-bi-bonucci-day-do-sau-khi-bo-juve-de-toi-bayern-d261512.html"
                        class="thumb" title="De Ligt bị Bonucci 'dạy dỗ' sau khi bỏ Juve để tới Bayern"><img class=""
                                                                                                             src="https://cdn-img.thethao247.vn/resize_382x240/storage/files/namgiang/2022/07/24/de-ligt-bonucci-1658641318.jpg"
                                                                                                             width="382"
                                                                                                             height="240"
                                                                                                             alt="De Ligt bị Bonucci 'dạy dỗ' sau khi bỏ Juve để tới Bayern"></a>
                      <div class="text">
                        <h3><a
                          href="https://thethao247.vn/416-de-ligt-bi-bonucci-day-do-sau-khi-bo-juve-de-toi-bayern-d261512.html"
                          class="title" title="De Ligt bị Bonucci 'dạy dỗ' sau khi bỏ Juve để tới Bayern">De Ligt bị
                          Bonucci "dạy dỗ" sau khi bỏ Juve để tới Bayern</a></h3>
                        <p class="sapo">Leonardo Bonucci yêu cầu Matthijs De Ligt phải thể hiện sự tôn trọng với
                          Juventus.</p>
                      </div>
                    </div>
                    <ul class="list_news d-flex justify-content-between flex-wrap">
                      <li>
                        <a
                          href="https://thethao247.vn/416-ten-hag-duoc-thuong-khung-neu-giup-mu-gianh-ve-du-champions-league-d261508.html"
                          class="thumb" title="Ten Hag được thưởng khủng nếu giúp MU giành vé dự Champions League"><img
                          class=""
                          src="https://cdn-img.thethao247.vn/resize_382x240/storage/files/namgiang/2022/07/24/new-project-90-8924-1658519635-1658639391.jpg"
                          width="382" height="240"
                          alt="Ten Hag được thưởng khủng nếu giúp MU giành vé dự Champions League"></a>
                        <h3><a
                          href="https://thethao247.vn/416-ten-hag-duoc-thuong-khung-neu-giup-mu-gianh-ve-du-champions-league-d261508.html"
                          class="title" title="Ten Hag được thưởng khủng nếu giúp MU giành vé dự Champions League">Ten
                          Hag được thưởng khủng nếu giúp MU giành vé dự Champions League</a></h3></li>
                      <li>
                        <a href="https://thethao247.vn/426-highlights-barca-vs-real-tan-binh-ruc-sang-d261515.html"
                           class="thumb" title="Highlights Barca vs Real: Tân binh rực sáng"><img class=""
                                                                                                  src="https://cdn-img.thethao247.vn/resize_382x240/storage/files/camhm/2022/07/24/highlights-barca-vs-real-tan-binh-ruc-sang-161717.jpg"
                                                                                                  width="382"
                                                                                                  height="240"
                                                                                                  alt="Highlights Barca vs Real: Tân binh rực sáng"></a>
                        <h3><a href="https://thethao247.vn/426-highlights-barca-vs-real-tan-binh-ruc-sang-d261515.html"
                               class="title" title="Highlights Barca vs Real: Tân binh rực sáng">Highlights Barca vs
                          Real: Tân binh rực sáng</a></h3></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
